
<span class="content">
    <span class="title">
        <%= message.title %>
    </span>
    <div class="flex">
        <span class="message">
            <%= message.content %>
        </span>
    </div>
</span>