<div class="w-full px-4 py-8">
  <% content_for :title, "Editing message" %>

  <h1 class="text-3xl font-bold text-gray-900 mb-6">
    <%= @message.title %>
  </h1>

  <%= render "form", message: @message %>

  <div class="mt-8 flex space-x-4">
    <%= link_to "Show this message", @message, class: "text-blue-600 hover:text-blue-800" %>
    <%= link_to "Back to messages", messages_path, class: "text-blue-600 hover:text-blue-800" %>
  </div>
</div>
