<% provide(:button_text, 'Create new message') %>
<section>
    <div class="form-page">
        <div class="header2">
            <h1>Create new message</h1>
        </div>
        <div class="form">
            <%= render 'form' %>
        </div>
    </div>
</section>
