<header>
    <div class="box">
        <div class="header">
            <%= link_to "message board", root_path, id: "logo" %>
        </div>
        <ul>
            <li>
                <%= link_to "New Message", new_path, class: "link" %>
            </li>
        </ul>
    </div>

</header>